<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <!-- Custom Style CSS -->
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>

    <title>My Recipe</title>
</head>
<body>

<div class="container text-center text-white">
    <div class="row pt-5">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4" th:text="${recipe.description}">Not Found</h1>
            <div th:each="category: ${recipe.categories}">
                <p class="lead mb-0" th:text="${category.name}">Category</p>
            </div>
            <p class="lead">Source: <a th:href="${recipe.url}" class="text-white">
                <u th:text="${recipe.source}">Source Not Found</u></a></p>
            <img src="../../static/images/Pumpkin-Chocolate-Chip-Muffins.jpg"
                 th:src="@{/images/Pumpkin-Chocolate-Chip-Muffins.jpg}" class="center">
            <a href="#" th:href="@{'/recipes/' + ${recipe.id} + '/image'}">Change recipe image</a>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-lg-7 mx-auto bg-white rounded shadow">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="col-3">Preparation Time</th>
                        <th scope="col" class="col-3">Cook Time</th>
                        <th scope="col" class="col-3">Servings</th>
                        <th scope="col" class="col-3">Difficulty</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-3" th:text="${recipe.prepTime + ' minutes'}">Not Found</td>
                        <td class="col-3" th:text="${recipe.cookTime  + ' minutes'}">Not Found</td>
                        <td class="col-3" th:text="${recipe.servings}">Not Found</td>
                        <td class="col-3" th:text="${recipe.difficulty}">Not Found</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="col-6">Ingredient</th>
                        <th scope="col" class="col-3">Amount</th>
                        <th scope="col" class="col-3">Unit of measure</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ingredient: ${recipe.ingredients}">
                        <td class="col-6" th:text="${ingredient.description}">Not Found</td>
                        <td class="col-3" th:text="${ingredient.amount}">Not Found</td>
                        <td class="col-3" th:text="${ingredient.unitOfMeasure.description}">Not Found</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="container text-center text-white">
    <div class="col-lg-8 mx-auto">
        <h1 class="display-4">How to Cook</h1>
        <p class="lead mb-0" th:text="${recipe.note.note}"></p>
        <br><br><br><br>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>
