<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Recipes</title>
</head>
<body>
    <h1>My Recipes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Note</th>
            <th>Description<th>
            <th>Preparation Time<th>
            <th>Cook Time<th>
            <th>Servings<th>
            <th>Source<th>
            <th>url<th>
            <th>Directions<th>
            <th>Difficulty<th>
        </tr>
        <tr th:each="recipe: ${recipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.note.note}">note</td>
            <td th:text="${recipe.description}">description<th>
            <td th:text="${recipe.prepTime}">prepTime<th>
            <td th:text="${recipe.cookTime}">cookTime<th>
            <td th:text="${recipe.servings}">servings<th>
            <td th:text="${recipe.source}">source<th>
            <td th:text="${recipe.url}">url<th>
            <td th:text="${recipe.directions}">directions<th>
            <td th:text="${recipe.difficulty}">difficulty<th>
        </tr>
    </table>
</body>
</html>
